<section class="property-binding">
  <!-- <article>
    <h3>Interpolation / Interpolação</h3>
    <p>String renderizada com Interpolação: {{ url }}</p>
    <p>Resultado de 1 + 1 é: {{ 1 + 1 }}</p>
    <p>Resultado de 1 + 1 não é {{ 1 + 1 + getValor() }}</p>
    <p>Curso de angular e gosto do curso: {{ cursoAngular && getCurtirCurso() }}</p>
  </article>


  <article>
    <h3>Property Binding / Vinculação de Propriedade</h3>
    <p>É o valor do componente para o template</p>
    <img src="{{ urlImage }}">
    <img bind-src="urlImage">  bind-src é a mesma coisa que [src]="url"
    <img [src]="urlImage">  o colchetes representa o Property Binding, assim n precisamos das {{}}
  </article> -->

  <!-- <article>
    <h3>Class e Style Binding</h3>

    <div>
      Selecione uma classe:

      <select #classe (change)="(0)">
        <option value="alert-success">Sucesso</option>
        <option value="alert-info">Info</option>
        <option value="alert-warning">Alerta</option>
        <option value="alert-danger">Error</option>
      </select>
      <br />
      <br />

      <div class="alert {{ classe.value }}" role="alert">
        Texto colorido conforme valor do combobox
      </div>

      <div
        class="alert"
        role="alert"
        [class.alert-success]="classe.value == 'alert-success'"
      >
        success
      </div>
      <div
        class="alert"
        role="alert"
        [class.alert-danger]="classe.value == 'alert-danger'"
      >
        danger
      </div>
      <div
        class="alert"
        role="alert"
        [class.alert-warning]="classe.value == 'alert-warning'"
      >
        warning
      </div>
      <div
        class="alert"
        role="alert"
        [class.alert-info]="classe.value == 'alert-info'"
      >
        info
      </div>

      <div
        class="alert alert-danger"
        role="alert"
        [style.display]="classe.value == 'alert-danger' ? 'block' : 'none'"
      >
        Esse texto somente aparece em caso de erro
      </div>
    </div>
  </article> -->

  <!-- <article>
    <h3>Event binding</h3>

    <div>
      <button
        on-click="botaoClicado()" é a mesma coisa que (click)
        (click)="botaoClicado()"
        class="btn btn-primary"
      >
        Me clique!
      </button>

      <br /><br />
      <input
        type="text"
        (keyup)="onKeyUp($event)"
        (keyup.enter)="salvarValor(campoInput.value)"
        (blur)="salvarValor(campoInput.value)"
        #campoInput
      />

      <p>Valor atual: {{ valorAtual }}</p>
      <p>Valor salvo: {{ valorSalvo }}</p>
      <br /><br />

      <span
        (mouseover)="onMouseOverOut()"
        (mouseout)="onMouseOverOut()"
        [class.highlight]="isMouseOver"
      >
        Passe o mouse sobre mim</span
      >
    </div>
  </article> -->

  <!-- <section>
    <article>
      <h3>two-way data binding</h3>

      <div>
        <input
          type="text"
          [value]="nome"
          (input)="nome = $event.target.value"
        />

        <input
          type="text"
          [ngModel]="nome"
          (ngModelChange)="nome = $event"
        />

        <input
          type="text"
          [(ngModel)]="nome"
        />

        <input
          type="text"
          bindon-ngModel="nome"
          />
          <p>Você digitou um {{ nome }}</p>

        <div>
          <p>Meu nome é {{pessoa.nome}} e tenho {{ pessoa.idade }} anos de idade</p>

          <input type="text" [(ngModel)]="pessoa.nome">
          <input type="text" [(ngModel)]="pessoa.idade">
        </div>

      </div>
    </article>
  </section> -->

  <section>
    <article>
      <h3>Input/Output Properties</h3>

      <app-curso [nome]="nomeDoCurso"></app-curso>
    </article>
  </section>
</section>
