<section class="property-binding">
  <!-- <article>
    <h3>Interpolation / Interpolação</h3>
    <p>String renderizada com Interpolação: {{ url }}</p>
    <p>Resultado de 1 + 1 é: {{ 1 + 1 }}</p>
    <p>Resultado de 1 + 1 não é {{ 1 + 1 + getValor() }}</p>
    <p>Curso de angular e gosto do curso: {{ cursoAngular && getCurtirCurso() }}</p>
  </article>


  <article>
    <h3>Property Binding / Vinculação de Propriedade</h3>
    <p>É o valor do componente para o template</p>
    <img src="{{ urlImage }}">
    <img bind-src="urlImage">  bind-src é a mesma coisa que [src]="url"
    <img [src]="urlImage">  o colchetes representa o Property Binding, assim n precisamos das {{}}
  </article> -->

  <article>
    <h3>Class e Style Binding</h3>

    <div>
      Selecione uma classe:

      <select #classe (change)="(0)">
        <option value="alert-success">Sucesso</option>
        <option value="alert-info">Info</option>
        <option value="alert-warning">Alerta</option>
        <option value="alert-danger">Error</option>
      </select>
      <br />
      <br />

      <div class="alert {{ classe.value }}" role="alert">
        Texto colorido conforme valor do combobox
      </div>

      <div
        class="alert"
        role="alert"
        [class.alert-success]="classe.value == 'alert-success'"
      >
        success
      </div>
      <div
        class="alert"
        role="alert"
        [class.alert-danger]="classe.value == 'alert-danger'"
      >
        danger
      </div>
      <div
        class="alert"
        role="alert"
        [class.alert-warning]="classe.value == 'alert-warning'"
      >
        warning
      </div>
      <div
        class="alert"
        role="alert"
        [class.alert-info]="classe.value == 'alert-info'"
      >
        info
      </div>

      <div
        class="alert alert-danger"
        role="alert"
        [style.display]="classe.value == 'alert-danger' ? 'block' : 'none'"
      >
        Esse texto somente aparece em caso de erro
      </div>
    </div>
  </article>
</section>
